<div>

    <h2>Password Reset Request!</h2>

    <p style="font-size: 18px">
        Dear Smooth Pay User, <br/>
        We have received your request to reset your password. Please use the below OTP to set your new password.
    </p>
    

    <div style="padding: 0 15%;">
    <h2 style="
        border: 1px solid black;
        display: inline-block;
        padding: 0px 50px;
        color: black;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
    "><%- token %></h2>
    </div>
    <p>
        If you need additional assistance, or you did not make this change, please contact support.
    </p>

    <div style="margin:15px 0px">
        <div>Thanks for being with us</div>
        <a href="#">Smooth Pay Team</a>
    </div>

</div>